@import "font-awesome.min.css";
@import "bootstrap.min.css";

.search_input input[type='text']{
    display: inline-block;
    width: 250px;
    border-radius: 15px;
    height: 30px;
    text-indent: 30px;
    border: 1px solid;
}
.search_input {
    margin-top: 50px;
}
.search_input i {
    position: relative;
    left: 245px;
    color: #B2B2B2;
}
