@import "main.css";

.search_form input[type='text']{
    display: inline-block;
    width: 250px;
    border-radius: 15px;
    height: 30px;
    text-indent: 30px;
    border: 1px solid;
}
.search_form {
    margin-top: 50px;
}
.search_form i {
    position: relative;
    left: 245px;
    color: #B2B2B2;
}

.search_result {
    margin: 10px auto;
}

.search_projects_main {
    margin-top: 30px;
}

.fa-spinner {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
}
