@(request: play.mvc.Http.Request)

<!DOCTYPE html>
<html lang="en">
    <header>
        <title>Freelancelot</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/search_page.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-3.6.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/index.js")"></script>
    </header>
    <body data-ws-url="@routes.HomeController.wsSearchProjects.webSocketURL(request)">
        <section style="text-align: center;">
            <div>
                <article>
                    <h1 class="main-title">Welcome to Freelancelot</h1>
                    <form id="search_form" class="search_form">
                        <span>Search #<span id="search_count">0</span></span>
                        <i class="fa fa-search" id="i-advanced-search-i"></i>
                        <input id="search_input" type="text" id="i-advanced-search" placeholder="Enter search terms"/>
                        <button type="submit" class="btn">Go</button>
                    </form>
                    <div id="result_data">
                    </div>
                </article>
            </div>
        </section>
    </body>
</html>
