@(request: play.mvc.Http.Request)

<head>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/projectsearch.js")'></script>
</head>
<div id="search_projects_main" class="search_projects_main" data-ws-url="@routes.HomeController.wsSearchProjects.webSocketURL(request)">
    <h4 id="search_term_text"></h4>
    <div id="avg_readability"></div>
    <div id="global_stats"></div>
    <div id="loading_spinner" class="loading_spinner">
        <i class="fa fa-spinner"></i>
        <p>Searching...</p>
    </div>
    <div id="search_projects_container"></div>
</div>