@(request: play.mvc.Http.Request)
<html>
    <head>
        <title>Freelancelot</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/search_page.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-3.6.0.min.js")"></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/jobproject.js")'></script>
    </head>
    <div id="search_projects_main" class="search_projects_main" data-ws-url="@routes.HomeController.wsFindProjectsByJobId.webSocketURL(request)">
        <section style="text-align: center;">
            <div id="loading_spinner" class="loading_spinner">
                <i class="fa fa-spinner"></i>
                <p>Searching...</p>
            </div>
            <table id="search_result" style="margin: 0 auto;"></table>
        </section>
    </div>
</html>
