@import akka.actor.dungeon.ChildrenContainer.EmptyChildrenContainer.stats
@import akka.actor.dungeon.ChildrenContainer.EmptyChildrenContainer.stats
@(request: play.mvc.Http.Request)

<head>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/readability.js")'></script>
</head>
<div id="user_projects_main" data-ws-url="@routes.HomeController.wsAverageReadability.webSocketURL(request)">
    <h2>
        Last 10 projects
    </h2>
    <table>
        <tr>
            <th>Score</th>
            <th>Education Level</th>
        </tr>
        @for(i <- 0 to projectsearch. - 1) {
            <tr>
                <td text-align="center">@{i + 1}&#46;</td>
                <td text-align="left">@stats.get(i).getWord</td>
                <td text-align="center">@stats.get(i).getOccurrence</td>
            </tr>
        }
    </table>
</div>