@(request: play.mvc.Http.Request)
<html>
<head>
    <title>Freelancelot</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/search_page.css")">
    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-3.6.0.min.js")"></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/user.js")'></script>
</head>
        <body data-ws-url="@routes.HomeController.wsFindUser.webSocketURL(request)">
            <main>
                <section>
                    <a href="/">< Back</a>
                    <table>
                        <tr id="is_limited_account"></tr>
                        <tr id="is_email_verified"></tr>
                        <tr>
                            <th>Id:</th>
                            <td id="id"></td>
                        </tr>
                        <tr>
                            <th>Display Name:</th>
                            <td id="display_name"></td>
                        </tr>
                        <tr>
                            <th>Username:</th>
                            <td id="username"></td>
                        </tr>
                        <tr>
                            <th>Joined date:</th>
                            <td id="registration_date"></td>
                        </tr>
                        <tr>
                            <th>Country:</th>
                            <td id="country"></td>
                        </tr>
                        <tr>
                            <th>Primary currency:</th>
                            <td id="primary_currency"></td>
                        </tr>
                        <tr>
                            <th>Role:</th>
                            <td id="role"></td>
                        </tr>
                        <tr>
                            <th>Chosen role:</th>
                            <td id="chosen_role"></td>
                        </tr>
                    </table>
                </section>
                <div id="user_projects"></div>

            </main>
        </body>

</html>