@import java.time.format.DateTimeFormatter
@(user: User)

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">

<section>
    <div>
        <article>
            <h1>
                @user.getId() - @user.getDisplayName()
            </h1>
            <table>
                <tr>
                    <td>Email:</td>
                    <td>
                        @if(user.getEmail() == null || user.getEmail().isEmpty) {
                            -
                        } else {
                            @user.getEmail()
                        }
                    </td>
                </tr>
                <tr>
                    <td>Language:</td>
                    <td>@user.getPrimaryLanguage()</td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>
                        @if(user.getLocation() != null && user.getLocation().getCity() != null) {
                            @user.getLocation().getCity(), @user.getLocation().getCountry().getName()
                        } else if(user.getLocation() != null && user.getLocation().getCity() == null) {
                            @user.getLocation().getCountry().getName()
                        } else {
                            -
                        }
                    <td>
                </tr>
                <tr>
                    <td>Joined date:</td>
                    <td>@user.getRegistrationDate().format(DateTimeFormatter.ofPattern("dd MMM yyyy"))</td>
                </tr>
            </table>
            <h2>
                Verification
            </h2>
            <table>
                <tr>
                    <td>Freelancer verified user:</td>
                    <td>
                    @if(user.getStatus().getFreelancerVerifiedUser() != null && user.getStatus().getFreelancerVerifiedUser()) {
                        Yes
                    } else {
                        No
                    }
                    <td>
                </tr>
                <tr>
                    <td>Identity verified:</td>
                    <td>
                    @if(user.getStatus().getIdentityVerified() != null && user.getStatus().getIdentityVerified()) {
                        Yes
                    } else {
                        No
                    }
                    <td>
                </tr>
                <tr>
                    <td>Payment verified:</td>
                    <td>
                        @if(user.getStatus().getPaymentVerified() != null && user.getStatus().getPaymentVerified()) {
                            Yes
                        } else {
                            No
                        }
                    <td>
                </tr>
                <tr>
                    <td>Email verified:</td>
                    <td>
                    @if(user.getStatus().getEmailVerified() != null && user.getStatus().getEmailVerified()) {
                        Yes
                    } else {
                        No
                    }
                    <td>
                </tr>
                <tr>
                    <td>Deposit made:</td>
                    <td>
                    @if(user.getStatus().getDepositMade() != null && user.getStatus().getDepositMade()) {
                        Yes
                    } else {
                        No
                    }
                    <td>
                </tr>
                <tr>
                    <td>Profile completed:</td>
                    <td>
                    @if(user.getStatus().getProfileComplete() != null && user.getStatus().getProfileComplete()) {
                        Yes
                    } else {
                        No
                    }
                    <td>
                </tr>
                <tr>
                    <td>Phone verified:</td>
                    <td>
                    @if(user.getStatus().getPhoneVerified() != null && user.getStatus().getPhoneVerified()) {
                        Yes
                    } else {
                        No
                    }
                    <td>
                </tr>
                <tr>
                    <td>LinkedIn connected:</td>
                    <td>
                    @if(user.getStatus().getLinkedinConnected() != null && user.getStatus().getLinkedinConnected()) {
                        Yes
                    } else {
                        No
                    }
                    <td>
                </tr>
                <tr>
                    <td>Facebook connected:</td>
                    <td>
                    @if(user.getStatus().getFacebookConnected() != null && user.getStatus().getFacebookConnected()) {
                        Yes
                    } else {
                        No
                    }
                    <td>
                </tr>
            </table>
        </article>
    </div>
</section>
